<div class="header">
  <h1><%= @head + " Matchups"%></h1>
</div>

<ul>
  <li><%= link_to 'Back', { action: 'game', id: @date_id }%></li>
</ul>

<table border="1">
  	<thead>
  		<tr>
	  		<th></th>
	      	<th></th>
	      	<th>Days rest</th>
	  		<th colspan="6">TODAYS GAMES</th>
	  		<th>Days rest</th>
        <th></th>
	    </tr>
	  	<tr>
	  		<th>Game ID</th>
	      	<th class="red">Time</th>
	      	<th class="red">Last Game</th>
	      	<th class="red">Away Team</th>
	  		<th class="red">Next Game</th>
	  		<th class="red"></th>
	  		<th class="red">Next Game</th>
        <th>FLY</th>
	  		<th class="red">Home Team</th>
	  		<th class="red">Last Game</th>
        <th>FLY</th>
	    </tr>
  	</thead>
  	<tbody>
    <tr>
     
    </tr>
  	</tbody>
</table>