/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "daterangepicker-bs3";


.main table {
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    border: 9px solid rgb(56, 87, 33);
}

.main th {
	background-color: rgb(87, 135, 50);
	color: white;
	text-align: center;
}

.main .borderTop {
	border-top-style: solid;
	border-top-width: 9px;
}
