/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.header{
    background-color:darkblue;
    color:white;
    text-align:center;
    padding:5px;
}

ul {
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #555;
    border-left: none;
    border-right: none;
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    overflow: auto;
}

table {
    margin: 20px auto;
    text-align: center;
    border-collapse: collapse;
    border: 9px solid rgb(56, 87, 33);
}

td, th {
    padding: 5px 20px;
    text-align: center;
}

th, .green {
    background-color: rgb(156, 225, 104);
}

.red {
    background-color: rgb(255, 24, 37);
}

.yellow {
    background-color: rgb(255, 223, 11);
}

.grey {
    background-color: rgb(220, 220, 220);
}