<% content_for :title, "Teams" %>
<div class="header row">
  <h1>Teams</h1>
</div>
<div class="panel panel-primary text-center">
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item"><%= link_to 'Home', { controller: 'index', action: 'home' }%></li>
      <li class="list-group-item"><%= link_to 'Filter', { controller: 'filter', action: 'filter' } %></li>
      <% @teams.each do |team| %>
        <li class="list-group-item"><%= link_to team.team, { controller: 'filter', action: 'show', id: team.id } %></li>
      <% end %>
    </ul>
  </div>
</div>
